@font-face {
    font-family: "Montserrat";
    src= url(../fonts/Montserrat-Regular.ttf); format("truetype");
    font-family: "Open Sans";
    src= url(../fonts/OpenSans-VariableFont_wdth,wght.ttf); format("truetype");
}

header {
    background-color: #E5E9EC;
    height: 140px; 
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    display: inline-block;
    margin-left: 70px;
}

nav a{
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #0B2C3C;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    padding: 8px 0;
}

nav a:hover{
    font-weight: 700;
}

button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        padding: 10px 60px;
        font-size: 1em;
        border-radius: 25px;
        background-color: #f7fbff;
        border-color: #f7fbff;
        border-style: solid;
    }

button:hover {
        background-color: #ffffff;
        cursor: pointer;
    }