@font-face {
    font-family: "Montserrat";
    src= url(../fonts/Montserrat-Regular.ttf); format("truetype");
    font-family: "Open Sans";
    src= url(../fonts/OpenSans-VariableFont_wdth,wght.ttf); format("truetype");
}
