@font-face {
    font-family: "Montserrat";
    src= url(../fonts/Montserrat-Regular.ttf); format("truetype");
    font-family: "Open Sans";
    src= url(../fonts/OpenSans-VariableFont_wdth,wght.ttf); format("truetype");
}

* { box-sizing: border-box; }

header {
    background-color: #E5E9EC;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;
}

.logo img {
    height: 100px;
    width: 180px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 65px;
    align-items: center;
}

nav a{
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #0B2C3C;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    padding: 8px 0;
}

nav a:hover{
    font-weight: 700;
}

button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 1.1em;
        border-radius: 25px;    
        background-color: #f7fbff;
        border-color: #f7fbff;
        border-style: solid;
        text-align: left;
    }

.button-icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 18px;
    }

.button-icon-image {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

.button-search {
        width: 190px;
    }

.button-cart {
        width: 130px;
    }

.header-buttons {
        padding-top: 45px;
        width: 360px;
        display: flex;
        justify-content: flex-end;
        gap: 15px;
    }

button:hover {
        background-color: #ffffff;
        cursor: pointer;
    }

footer {
        background-color: rgba(11, 44, 60, 0.81);
        color: #ffffff;
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;
        margin-top: 50px;
    }

.footer-logo {
        height: 80px;
        width: auto;

    }