@font-face {
    font-family: "Montserrat";
    src= url(../fonts/Montserrat-Regular.ttf); format("truetype");
    font-family: "Open Sans";
    src= url(../fonts/OpenSans-VariableFont_wdth,wght.ttf); format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
}

* { box-sizing: border-box; }

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
}

/* Header Styles */

header {
    background-color: #E5E9EC;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;
}

.logo img {
    height: 100px;
    width: 180px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 65px;
    align-items: center;
}

nav a{
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #0B2C3C;
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    padding: 8px 0;
}

nav a:hover{
    font-weight: 700;
}

button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 1.1em;
        border-radius: 25px;    
        background-color: #f7fbff;
        border-color: #f7fbff;
        border-style: solid;
        text-align: left;
    }

.button-icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 18px;
    }

.button-icon-image {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

.button-search {
        width: 190px;
    }

.button-cart {
        width: 130px;
    }

.header-buttons {
        padding-top: 45px;
        width: 360px;
        display: flex;
        justify-content: flex-end;
        gap: 15px;
    }

button:hover {
        background-color: #ffffff;
        cursor: pointer;
    }

/*Body Styles */

.hero {
        display: flex;
        align-items: center;
        padding: 0px 200px;
        background-image: url("../pictures/hero.jpg");
        height: 530px;
        background-size: cover;
        background-position: 90% center;
        background-repeat: no-repeat;
    }

.hero-content {
        max-width: 520px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

.hero h1 {
        font-family: "Montserrat", sans-serif;
        color: #ffffff;
        font-size: 2.0rem;
        font-weight: 600;
        margin: 0 0 20px 0;
    }

.hero-shop-button {
        font-family: "Montserrat", sans-serif;
        display: inline-block;
        padding: 14px 25px;
        border-radius: 20px;
        border-color: #FF6B35;
        background-color: #FF6B35;
        color: #ffffff;
        text-decoration: none;
        font-weight: 550;
        font-size: 2.2em;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        align-self: center;
    }

.hero-shop-button:hover {
        background-color: #D33C05;
        border-color: #D33C05;
        cursor: pointer;
    }


/* Footer Styles */

footer {
        background-color: rgba(11, 44, 60, 0.81);
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        margin-top: 80px;
    }

.footer-logo {
        height: 130px;
        width: auto;
    }

.footer-content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, max-content);
        justify-content: space-between;
        gap: 60px;
        padding: 0 170px;
        margin: 40px 0;
    }

.footer-links {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

.footer-links li {
        font-family: "Montserrat", sans-serif;
        font-size: 0.95em;
        font-weight: 260;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        gap: 6px;
    }

footer hr {
        width: 100%;
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        margin: 30px 0;
    }

footer p {
        font-size: 0.75em;
        margin: 0;
        font-family: "Montserrat", sans-serif;
    }

.footer-bottom {
        width: 100%;
        padding: 0 100px;
    }

.footer-bottom-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }

.social-icon {
        width: 20px;
        height: 18px;
        object-fit: contain;
        margin-right: 4px;
    }